#contact > h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 3em;
  margin-bottom: 50px;
}

#contact {
  margin-top: 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

#contact a {
  color: #353535;
  border-bottom: 1px solid #353535;
  text-decoration: none;
}

#contact a:hover {
  color: #353535;
  border-bottom: 0px solid #353535;
  text-decoration: none;
}

#contact acronym {
  cursor: help;
  border-bottom: 1px dashed #353535;
}

.contact_img {
  margin-bottom: 50px;
  border: 1px solid gray;
}