h1, h2, p {
  padding-left: 10px;
  padding-right: 10px;
}

#resume h1{
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 3em;
  margin-bottom: 0px;
}

#resume h2{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.83em;
  margin-top: 10px;
}

#download {
  margin-top: 20px;
  font-size: 15px;
}

.button{
  display: block;
  padding: 8px;
  margin: 0 10px;
  border-radius: 3px;
  border: solid 1px #353535;
  color: #353535;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  transition: background 0.3s ease 0s;
}

.button:hover{
  background-size: cover;
  text-shadow: 1px 1px 1px #000000;
  font-weight: bold;
  text-decoration: none;
}

#pdf_format {
  margin-bottom: 10px;
  background-color: transparent;
  border: solid 1px #bc0303;
  color: #bc0303;
}

#pdf_format:hover{
  background-image: url("../img/resume/pdf_button_bg.jpg");
  background-position-y: 60%;
  color: #ffffff;
  /*background-size: cover;
  text-shadow: 1px 1px 1px #000000;*/
}

#word_format {
  background-color: transparent;
  border: solid 1px #2B569A;
  color: #2B569A;
}

#word_format:hover{
  background-image: url("../img/resume/word_button_bg.jpg");
  background-position-y: 5%;
  color: #ffffff;
/*  background-size: cover;
  text-shadow: 1px 1px 1px #000000;*/
}

#first_section {
  margin-top: 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.section {
  margin: 200px 0px;
}

.section > h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: #5b5b5b;
  border-bottom: 1px solid #5b5b5b;
  text-transform: uppercase;
  font-weight: 100;
}

.profession {
  margin: 100px 0px;
}

.profession h1 {
  font-family: 'Noto Serif', serif;
  font-weight: 400;
  color: #353535;
  font-size: 32px;
}

.profession h1 > small {
  float: right;
  margin: 7px 0px 0 0;
  color: #5b5b5b;
}

.profession h2 {
  font-family: 'Noto Serif', serif;
  font-weight: 400;
  color: #353535;
  font-size: 22px;
  font-variant: small-caps;
}

.profession p {
  font-family: 'Noto Serif', serif;
  font-weight: 400;
  color: #353535;
}

.profession strong {
/*  font-weight: 400;
  color: #7d7d7d;*/
}

.profession small {
  
}

#profession_first {
  margin: 10px 0px;
}

.education {
  margin: 50px 0px;
}

.education h1 {
  font-family: 'Noto Serif', serif;
  font-weight: 400;
  color: #353535;
  font-size: 31px;
}

.education h2 {
  font-family: 'Noto Serif', serif;
  font-weight: 400;
  color: #353535;
  font-size: 22px;
  font-variant: small-caps;
}

#education_first {
  margin: 10px 0px;
}

.languages p {
  font-family: 'Noto Serif', serif;
  font-weight: 400;
  color: #353535;
}