#work h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 3em;
  color: #353535;
}

#work h2, #work h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  /*font-size: 3em;*/
  color: #353535;
}

#work p,
#work li {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #353535;
  font-size: 20px;
}

#work .center_img {
  width: 70%;
  margin: auto;
  margin-bottom: 50px;
}
#work .over_img {
  width: 120%;
  margin-left: -40px;
  margin-bottom: 50px;
}

.work {
  border: 1px solid lightgray;
  margin: 50px 0;
  transition: all 0.3s ease 0s;
}

.work:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.work header {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  z-index: -1;
  background-size: cover;
  height: 200px;
  position: relative;

}
.work header:before {
  position: absolute;
  content:"";
  height:100%;
  width:100%;
  top:0;
  left:0;
  background: -moz-linear-gradient(top,   rgba(0,0,0,0) 65%, rgba(0,0,0,0.65) 110%);
  background: -webkit-linear-gradient(top,rgba(0,0,0,0) 65%, rgba(0,0,0,0.65) 110%);
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 65%, rgba(0,0,0,0.65) 110%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}

#h_asociacion_mkt {background-image: url(../img/work/h_asociacion_mkt_sm.png);}
#h_bahiazul {background-image: url(../img/work/h_bahiazul_sm.png);}
#h_el_deseazo {background-image: url(../img/work/h_el_deseazo_sm.png);}
#h_el_mundo {background-image: url(../img/work/h_el_mundo_sm.png);}
#h_hera {background-image: url(../img/work/h_hera_sm.png);}
#h_gauss {background-image: url(../img/work/h_gauss_sm.png);}
#h_politica_exterior {background-image: url(../img/work/h_politica_exterior_sm.png);}
#h_shot_and_shop {background-image: url(../img/work/h_shot_and_shop_sm.png);}
#h_smartcontact {background-image: url(../img/work/h_smartcontact_sm.png);}

.work .tile {
  position: absolute;
  width: 65%;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.work h1 {
  color: #353535;
  font-family: 'Dancing Script', sans-serif;
  margin: 0;
  padding: 5px 0;
  background-color: white;
  text-align: center;
  line-height: 32px;
}

.work p {
  width: initial;
  margin: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  height: 78px;
  overflow: hidden;
  color: #353535;
}

.see_more {
  color: #353535;
  border-bottom: 1px solid #353535;
  text-decoration: none;
  margin-left: 5px;
}

.see_more:hover {
  color: #353535;
  border-bottom: 0 solid #353535;
  text-decoration: none;
}

.work_fade {
  position: relative;
}
.work_fade:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40%;
  height: 1.6em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}