#about > h1{
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 3em;
  margin-bottom: 50px;
}

#about {
  margin-top: 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

blockquote {
    font-size: 23px;
    margin-left: 0px;
    padding: 10px;
    font-style: italic;
    color: gray;
    border-left: 3px solid gray;
}

#about a {
  color: #353535;
  border-bottom: 1px solid #353535;
  text-decoration: none;
}

#about a:hover {
  color: #353535;
  border-bottom: 0px solid #353535;
  text-decoration: none;
}